body{
	background:rgb(17, 17, 17);
	color: rgb(188, 188, 188) !important;
}
div.paper{
	box-shadow: rgba(0, 0, 0, 0.09) 0px 8px 16px 0px;
	background:rgba(30, 30, 30, 0.99);
}
article{
	
}
div.catalog li.menu{
	color:rgb(188, 188, 188);
}
.footer-logo,.align-center,.share-btn>svg{
	color:rgba(188, 188, 188,0.5);
}
article>h2.sub-title{
	color: rgba(188, 188, 188,0.5);
}
div.devider{
	border-bottom-color:rgba(212, 220, 255, 0.2);
}

div.share-devider{    
	border-top: 1px solid rgba(188, 188, 188,0.5);
}