<html>
<head>
<link href="./css/core.css" rel="stylesheet" type="text/css" media="screen"/> 
<link href="./css/themes/white.css" id="theme-selector-link" rel="stylesheet" type="text/css" media="screen"/> 
<link href="./css/bgs/default.css" id="bg-selector-link" rel="stylesheet" type="text/css" media="screen"/> 
<script src="./js/jquery/jquery-3.4.1.min.js"></script>
<script src="./js/app.js"></script>
</head>
<body>

<div class="page">
	
	<div class="themes-selector">
		<span data-theme="white" class="theme-white"></span>
		<span data-theme="yellow" class="theme-yellow"></span>
		<span data-theme="darkblue" class="theme-darkblue"></span>
		<span data-theme="dark" class="theme-dark"></span>		
	</div>
	<div class="bg-selector">
		<span data-bg="default" title="None" class="none"></span>
		<span data-bg="forest" title="Forst"></span>
		<span data-bg="road" title="Road"></span>
		<span data-bg="fuji" title="Fuji"></span>
		<span data-bg="earth" title="Earth"></span>
	</div>
	<div class="catalog">
		<ul>
			
			<li class="menu menu-active">目录               </li>
			<li class="menu">知识索引     </li>
			<li class="menu">每日巡检     </li>
			<li class="menu">经验         </li>
			<li class="menu">资源         </li>
			<li class="menu">游戏开发     </li>
			<li class="menu">期刊         </li>
			<li class="menu">单片机       </li>
			<li class="menu">电子电路     </li>
			<li class="menu">分布式       </li>
			<li class="menu">博客         </li>
			<li class="menu">文章         </li>
			<li class="menu">课程         </li>
			<li class="menu">Java资料     </li>
			<li class="menu">工具         </li>
			<li class="menu">资讯         </li>
		</ul>
	</div>
	<div class="main-body">
	<div class="paper">
	<article>
		<h2 class="sub-title">www.itkuaibao.cn</h2>
		<h1>Things you’re probably not using in Python 3 – but should</h1>
		<div class="devider"></div>
		<div class="content">
		<p>
		Many people started switching their Python versions from 2 to 3 as a result of Python EOL. Unfortunately, most Python 3 I find still looks like Python 2, but with parentheses (even I am guilty of that in my code examples in previous posts – Introduction to web scraping with Python). Below, I show some examples of exciting features you can only use in Python 3 in the hopes that it will make solving your problems with Python easier.
		</p>
		<p>
		Many people started switching their Python versions from 2 to 3 as a result of Python EOL. Unfortunately, most Python 3 I find still looks like Python 2, but with parentheses (even I am guilty of that in my code examples in previous posts – Introduction to web scraping with Python). Below, I show some examples of exciting features you can only use in Python 3 in the hopes that it will make solving your problems with Python easier.
		</p>
		<p>
		Many people started switching their Python versions from 2 to 3 as a result of Python EOL. Unfortunately, most Python 3 I find still looks like Python 2, but with parentheses (even I am guilty of that in my code examples in previous posts – Introduction to web scraping with Python). Below, I show some examples of exciting features you can only use in Python 3 in the hopes that it will make solving your problems with Python easier.
		</p>
		<p>
		Many people started switching their Python versions from 2 to 3 as a result of Python EOL. Unfortunately, most Python 3 I find still looks like Python 2, but with parentheses (even I am guilty of that in my code examples in previous posts – Introduction to web scraping with Python). Below, I show some examples of exciting features you can only use in Python 3 in the hopes that it will make solving your problems with Python easier.
		</p>
		<p>
		Many people started switching their Python versions from 2 to 3 as a result of Python EOL. Unfortunately, most Python 3 I find still looks like Python 2, but with parentheses (even I am guilty of that in my code examples in previous posts – Introduction to web scraping with Python). Below, I show some examples of exciting features you can only use in Python 3 in the hopes that it will make solving your problems with Python easier.
		</p>
		<p>
		Many people started switching their Python versions from 2 to 3 as a result of Python EOL. Unfortunately, most Python 3 I find still looks like Python 2, but with parentheses (even I am guilty of that in my code examples in previous posts – Introduction to web scraping with Python). Below, I show some examples of exciting features you can only use in Python 3 in the hopes that it will make solving your problems with Python easier.
		</p>

		</div>
		<div class="share">
			<div class="share-devider"></div>
			<div class="share-buttons">
			<button id="twitter-share" class="share-btn">
			<svg class="fika-icon fika-icon-large" viewBox="0 0 32 32">
			<path d="M23.9,11.9c0,0.2,0,0.3,0,0.5c0,5.3-4.1,11.4-11.4,11.4c-2.2,0-4.4-0.7-6.2-1.8c0.3,0.1,0.7,0.1,1,0.1c1.9,0,3.7-0.7,5-1.7c-1.7,0-3.3-1.2-3.8-2.8c0.2,0.1,0.5,0.1,0.7,0.1c0.4,0,0.7,0,1.1-0.1c-1.9-0.4-3.3-2-3.3-3.9v-0.1c0.5,0.3,1.1,0.5,1.8,0.5c-1.1-0.7-1.8-2-1.8-3.3c0-0.7,0.2-1.4,0.6-2c2,2.4,4.9,4,8.4,4.1c0-0.3-0.1-0.6-0.1-0.9c0-2.2,1.8-4,4-4C21,8,22,8.5,22.8,9.3c0.9-0.2,1.7-0.5,2.5-1c-0.3,0.9-1,1.7-1.8,2.2c0.8,0,1.5-0.2,2.3-0.6C25.2,10.8,24.6,11.4,23.9,11.9z"></path>
			</svg>
			</button>
			<button id="fika-facebook-share" class="share-btn">
			<svg class="fika-icon fika-icon-large" viewBox="0 0 32 32">
			<path d="M21.2,9.2h-2c-1.5,0-1.9,0.8-1.9,1.8v2.5h3.8l-0.8,3.7h-3l0.1,8.9h-3.7v-8.8h-3v-3.8h3v-3c0-3.1,2-4.6,4.7-4.6C19.9,5.9,21,6,21.2,6V9.2z"></path>
			</svg>
			</button>
			</div>
		</div> 
	</article>
	
	
	
	</div>
	
	<div class="footer">
		<a class="footer-logo" href="http://fika.io" target="_blank"><img style="" src="chrome-extension://fbcdnjeoghampomjjaahjgjghdjdbbcj/images/logo64.png">Made with love by Fika</a>
		<div class="align-center">
			<b>Alt+R (Option+R)</b>: to open Fika  
			<b class="ml-2">Esc</b>: to close reader mode
		</div>
	</div>
	</div>
	
	
	
</div>

</body>
</html>